.base {
  overflow: hidden;
}

.container {
  display: flex;
}

.slide {
  flex: 0 0 100%;
  cursor: grab;
}

.carousel-with-button {
  position: relative;
}

.next-button,
.prev-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  width: 36px;
  height: 36px;
  border-radius: 9999px;
  transition: opacity 0.5s;
  opacity: 0.6;
}

.next-button:hover,
.prev-button:hover {
  opacity: 0.9;
}

.next-button {
  right: 1%;
}

.next-button:after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(50% - 2px);
  border-left: solid 2px #000;
  border-bottom: solid 2px #000;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%) rotate(-135deg);
}

.prev-button {
  left: 1%;
}

.prev-button:after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(50% + 2px);
  border-left: solid 2px #000;
  border-bottom: solid 2px #000;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%) rotate(45deg);
}
