.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
}

.with-button-section {
  max-width: 512px;
  margin: 0 auto;
}
.carousel-with-button {
  position: relative;
}
.next-button,.prev-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.8;
}
.next-button {
  right: 0;
}
.prev-button {
  left: 0;
}